Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system

SQL-It is called relational database.

NoSql-It is called non-relational or distributed database which means also not only sql.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL-Data definition language

CREATE-It is used to create a new table,a view of a table or other objects of a table.

CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

DROP-It is used to delete an entire table,a view of a table or other objects of a table.

ALTER-It modifies an existing database object such as table.

TRUNCATE-It is used to remove the records from the table.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML-DATA MANIPULATION LANGUAGE

INSERT-For creating a new record.

Update-For modifying an existing record.

Delete-For deleting an existing record.

Q4. What is DQL? Explain SELECT with an example.

DQL-Data query language.

Select-It is used to get the data from the database table.It returns data in the form of result table.

Select * from students-It gives all the information from student table.

Q5. Explain Primary Key and Foreign Key.

A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.

A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

mydb=conn.connect(host="local host",user="root",passwd="Suji$2000")
query=show databases()
cursor=mydb.cursor()  ##it executes the query and fetch the records from the database.
cursor.execute(query) ##it executes the database operation.

Q7. Give the order of execution of SQL clauses in an SQL query.

Order	Clause	Function
1	FROM	Tables are joined to get the base data.
2	WHERE	The base data is filtered.
3	GROUP BY	The filtered base data is grouped.
4	HAVING	The grouped base data is filtered.
5	SELECT	The final data is returned.
6	ORDER BY	The final data is sorted.
7	LIMIT	The returned data is limited to row count.

Order	Clause	  Function

1	   FROM	    Tables are joined to get the base data.

2	   WHERE	The base data is filtered.

3	  GROUP BY	The filtered base data is grouped.

4	  HAVING	The grouped base data is filtered.

5   SELECT	    The final data is returned.

6	ORDER BY	The final data is sorted.

7	LIMIT	   The returned data is limited to row count.

Order	Clause  	Function

1	   FROM	     Tables are joined to get the base data.

2	  WHERE	     The base data is filtered.

3	 GROUP BY	The filtered base data is grouped.

4    HAVING	    The grouped base data is filtered.

5	 SELECT	    The final data is returned.

6	 ORDER BY	The final data is sorted.

7	 LIMIT	    The returned data is limited to row count.